@import "../../../../styles/__mantine.scss"; // Import cơ bản của Mantine

.pageContainer {
  display: flex;
  background-color: #f8f9fa;
  padding: rem(16) rem(0) rem(16) rem(36);
}
.mainContent {
  display: flex;
  padding: rem(20) rem(0) rem(20) rem(20);
}
.productDisplay {
  display: flex;
  flex-direction: column;
  gap: rem(16);
}
.mainNavigation {
  background-color: white;
  border-bottom: 1px solid #e9ecef;
  position: sticky;
  top: rem(40);
  z-index: 50;
  margin-bottom: rem(20);
}

.subNavPill {
  margin-bottom: rem(20);
  .pillButton {
    border-radius: rem(20);
    padding: rem(6) rem(14);
    font-weight: 600;
    transition: background-color 0.2s;
  }

  .activePill {
    background-color: #e53935;
    color: white;
    &:hover {
      background-color: #c62828;
    }
  }

  .inactivePill {
    background-color: #f1f3f5;
    color: #495057;
    &:hover {
      background-color: #e9ecef;
    }
  }
}

.productGrid {
  padding-top: rem(10);
}
